.container{
    margin: 20px;
}
.duration label{
  font-size: 20px;
}
.startButton{
    margin-top: 10px;
}
.timer{
    font-size: 50px;
    font-weight: bold;
    margin-top: 10px;
}
.audio{
    display: none;
}